<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">Users</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Change password </a>
                </li>
  
              </ol>
            </nav>
          </div>
  

        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
         

          <div class=" card">
            <div class=" card-header"><h3 class=" mb-0">Change password</h3></div>
    
            <div class="card-body">
              <form  class="needs-validation" novalidate="" [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="currentpwd">
                      Current Password
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input name="currentpwd" id="currentpwd" formControlName="currentpwd" required placeholder="Current Password" type="password" class="form-control">
                    
                    <div  class="errorMsg-feedback" *ngIf="f.currentpwd.touched && f.currentpwd.hasError('required')">Current Password Required</div>
                    
                  </div>
                </div>

                <div class=" form-row">
                  <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="loginPass">
                      New Password
                    </label>
                    </div>
                    <div class="col-md-4 mb-3">
                    <input name="pwd" id="loginPass" formControlName="pwd" required placeholder="New Password" type="password" class="form-control">
                    
                    <div  class="errorMsg-feedback" *ngIf="f.pwd.touched && f.pwd.hasError('required')">New Password Required</div>
                    
                    <div  class="errorMsg-feedback"
                    *ngIf="f.pwd.touched && f.pwd.errors">Password should meet the following criteria:
                      <ul>
                        <li>Contain at least 12 characters</li>
                        <li>Contain at least 1 special character</li>
                        <li>Contain at least 1 number</li>
                        <li>Contain at least 1 lowercase character (a-z)</li>
                        <li>Contain at least 1 uppercase character (A-Z)</li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class=" form-row">
                    <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="confirmPass">
                      Confirm New Password
                    </label>
                    </div>
                    <div class="col-md-4 mb-3">
                    <input name="confirmPass" id="confirmPass" formControlName="confirmPass" placeholder="Confirm New Password" type="password" class="form-control">
                    <div  class="errorMsg-feedback" *ngIf="f.confirmPass.touched && f.confirmPass.hasError('required')">Confirm New Password Required</div>
                    <div  class="errorMsg-feedback" *ngIf="f.confirmPass.touched && f.confirmPass.invalid && f.confirmPass.errors.confirmedValidator" >
                      Password and Confirm Password must be match.</div>
                 
                  </div>
                </div> 
                <!-- <div class="mb-4 form-row">
                  <ngx-recaptcha2 siteKey="6Lf0B58eAAAAAMA9umHGKya6yQprhUXGfumZyvJV" (success)="handleSuccess($event)" [size]="size"
                    [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha">
                  </ngx-recaptcha2>
                </div> -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">

                  </div>
                <div class="col-md-4 mb-3">
                <button  class="btn btn-primary"  [disabled]="!changepasswordform.valid" (click) ="onSubmit()" type="submit">
                  Submit
                </button>
                <button type="button" class=" btn btn-danger" >Reset</button>
              </div>
                </div>
                <!-- <button  class="btn btn-primary"  (click) ="sendMail()" type="submit">
                  Send Mail
                </button> -->

              </form>
            </div>
          </div>
      
      </div>
    </div>
  </div>
  
