<!-- <div class="login">  

   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login_form">
                    <div class="white_bg">
                        <h5>Sign In</h5>
                        <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
                            <div class="row pb-4">
                              <div class="input-group input-group-icon">
                                <input type="email" placeholder="Email Address" formControlName="username" />
                                <div class="input-icon"><img src="assets/img/Login/email.svg"></div>
                                <div class="errorMsg-feedback" *ngIf="f.username.touched && f.username.hasError('required')">Enter
                                  User ID</div>
                              </div>
                              <div class="input-group input-group-icon">
                                <input type="password" placeholder="Password" formControlName="password" />
                                <div class="input-icon"><img src="assets/img/Login/lock.svg"></div>
                                <div class="errorMsg-feedback" *ngIf="f.password.touched && f.password.hasError('required')">Enter
                                  password</div>
                              </div>
                            </div>
                            <button (click)="onSubmit()">Sign In</button>
                            <button routerLink="/forgot-password" style="float:right">Forgot Password</button>
                          </form>
                    </div>
                    <p class="pt-3">The power of memory</p>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
      <p>Support : estoragesupport@crownims.com </p>
        <img src="assets/img/Login/logo.png">
    </div>
</div> -->



<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6 p-0">
        <div class="login_logo text-center">
          <div class="login_img">
            <img src="assets/img/crown_logo.png"> 
            <!-- <p>The power of memory</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="login_form d-flex align-content-around flex-wrap">
          <!-- <img src="" style="width: 300px;height: 200px;margin-left: 350px;"> -->
          <div class="login_field">
            <div class="login_heading d-flex justify-content-between pr-4 pl-4 pb-2">
              <h5>Sign in</h5>
              
            </div>
            <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
              <div class="row input_bg">
                <div class="input-group input-group-icon">
                  <input type="email" placeholder="Username" formControlName="username" maxlength="50" />
                  <div class="input-icon"><img src="assets/img/email.svg"></div>
                  <div class="errorMsg-feedback" *ngIf="f.username.touched && f.username.hasError('required')">Enter
                    User ID</div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="password" placeholder="Password" formControlName="password"
                    [type]="fieldTextType ? 'text' : 'password'"  /> 
                  <div class="input-icon"><i class="fa" [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }" (click)="toggleFieldTextType()" style="padding: 17px;padding-left: 23px;"></i></div>
                  <div class="errorMsg-feedback" *ngIf="f.password.touched && f.password.hasError('required')">Enter
                    password</div>
                </div>
                
              </div>
              <!-- <button [disabled]="loginForm.invalid" (click)="onSubmit()">Sign In</button>
                <button routerLink="/forgot-password" class="ml-3">Forgot Password</button> -->
                <a style="color: #ffcc00;;" href="" routerLink="/forgot-password" class=" ml-3">Forgot password?</a>
              <button [disabled]="loginForm.invalid" (click)="onSubmit()" class="sign_btn">Sign In</button>
            </form>
          </div>
        </div>
        <!-- <div class="about">
          <img src="assets/about.png">
          <div class="row pt-3">
            <div class="col-md-5 pb-3">
              <p>A complete range of services to help you and your business</p>
              <a href="https://www.crownworldwide.com/en-us" target="_blank">crownworldwide.com</a>
            </div>
            <div class="col-md-4">
              <ul style="border-left: 2px solid #ddd;">
                <li><a href="https://www.crownworldmobility.com/" target="_blank">World Mobility</a></li>
                <li><a href="http://www.crownrelo.com/"  target="_blank">Relocations</a></li>
                <li><a href="http://www.crownrms.com/" target="_blank">Records Management</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="https://www.crownfineart.com" target="_blank">Fine Art</a></li>
                <li><a href="https://www.crown-logistics.com" target="_blank">Logistics</a></li>
                <li><a href="https://crownworkspace.com" target="_blank">Workspace</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>