
<div class="DataEntryMainContainer">
  <div class="header bg-danger pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Search</h6>

            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> <i class="fas fa-home" routerLink="/search/Quicksearch"> </i> </a>
                </li>

                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> Search </a>
                </li>

                <li aria-current="page" class="breadcrumb-item active">
                   Search
                </li>
              </ol>
            </nav>
 
          </div>

          <div class="col-lg-6 col-5 text-right">
            <!-- <a
              class="btn btn-sm btn-neutral"
              (click)="addDepartment(DepartmentFormPopup)"
            >
              Create New Department</a
            > -->
          
          </div>
        </div>
      </div>
    </div>
  </div>
 
<div class=" container-fluid mt--6">

  <form [formGroup]="ContentSearchForm">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <!-- <div class=" card-header">
          <h3 class=" mb-0"></h3>
          <p class=" text-sm mb-0"></p>
        </div> -->
        <div class="dataTables_wrapper py-4 checklist-table">
          <div class="row">

            <div class="col-sm-4 col-md-4">
              <div class="form-group">
                <label class="form-control-label text-right pr-4" for="Search By">
                  Search By  
                </label>
                <select  name="SearchBy" class="form-select form-control" formControlName="SearchBy" >
                  <option value="0">Search By</option>               
                  <option value="CartonBarCode">Carton BarCode</option>
                  <option value="Loan_Id">LAN No</option>
                  <option value="BatchID">Batch ID</option> 
                  <option value="ProductName">Product Name</option>
                  <option value="FileBarcode">File Barcode</option>
                </select>
              </div>
            </div>

            <div class="col-sm-4 col-md-4">          
              <div class="vsearch input-group input-group-merge serchInput">
               <input    type="text" class="form-control" name="File_No" formControlName="File_No" placeholder="Enter values to search"  aria-describedby="search-addon" />
               <div class="input-group-append btndiv" id="search-addon">
                   <button
                   class="btn btn-outline-primary"
                   (click)="GetFilterSearch()"
                   type="button"
                 >
                   <i class="fa fa-search"></i>
                 </button>                    
               </div>                  
             </div>
           </div>
             

            <div class="col-md-1">    
              <button type="button" class="btn btn-primary" (click)="OnReset()" style="margin-right:10px;float: right;text-align: right;    padding: 5px 15px;">Refresh
                <!-- <i class="fa fa-refresh"></i> -->
              </button>
                              
            </div>

            <div class="col-md-1">    
              <button type="button" class="btn btn-primary" (click)="downloadFile()" style="float: right;text-align: right;    padding: 5px 15px;">Download
                <!-- <i class="fa fa-refresh"></i> -->
              </button>
                              
            </div>
          </div>


          <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="off" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" class="quik_search_table">
            <ng-template pTemplate="caption">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th [style.width]="'35px'">
                      <p-checkbox (onChange)="selectAllRow($event, doc)" #e></p-checkbox>
                    </th>
                     -->
                    <th *ngFor="let col of headerList; let i = index;"  [ngStyle]="i==0 && {'width': '5%'}">
                        {{col.header}}
                        <!-- <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon> -->
                    </th>
                    <!-- <th style="width: 11%;">
                      ACTION
                    </th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>
                    <!-- <td [style.width]="'35px'">
                   
                   
                    <p-checkbox [(ngModel)]="car.selected" [binary]="true" [ngModelOptions]="{standalone: true}" (onChange)="selectRow($event, car)" #e></p-checkbox>
                 
                    </td>
                     -->
                    <td *ngFor="let col of headerList">
                      {{car[col.field]}}
                    </td>

                      <!-- <button type="button" style="padding:0 0 5px" class="btn btn-icon btn-icon-only" data-toggle="tooltip" data-placement="bottom" title="View KLAP" (click)="SearchDocumentList(car)">
                        <span class="btn-inner--icon"><i class="fa fa-eye" style="font-size:11px;color:rgb(78, 99, 10)"></i></span>
                      </button>  -->
                      

                    <!-- </td>   -->
               
                  </tr>
            </ng-template>
        </p-table>

          <!-- <ngx-datatable
            *ngIf="_FilteredList"
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="_FilteredList"
            (activate)="onActivate($event)" >
  

            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PODNo">
            
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.PODNO}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="BarcodeNo">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.BarcodeNo}}</ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="InvoiceNo">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.InvoiceNo}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="VendorName">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.VendorName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Branch">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.BranchName}}</ng-template>
            </ngx-datatable-column>
           
           
            <ngx-datatable-column name="Status">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.Status}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="POD Date">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.PODReceivedDate}}</ng-template>
            </ngx-datatable-column>
 
         
            <ngx-datatable-column name="Action" sortable="false" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                

                <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-warning btn-icon-only rounded-circle" (click)="Editinward(InwardFormPopup,row)">
                  <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                </button> 
 


          </ng-template>
            </ngx-datatable-column>
          </ngx-datatable> -->

          
        </div>
      </div>
    </div>
  </div>
  </form>
</div>




</div>

<ng-template #RepayementormPopup let-c="close" let-d="dismiss" let-modal>

  <div class="modal-content">
    <div class="modal-body p-0">

  <div >
   
      <div class="">    
          <div class="card w-70">
          
            <div  >
              <div class="position-relative row form-group">
  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-header">
                  <h3 class="mb-0">Repayment Details</h3>
                  <p class="text-sm mb-0"></p>
                </div>
                <!-- <div class="card-body">
                  <div class="row"> -->
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                    
                      <div class="card-body">
                        <div>
                       
                          <div class="dataTables_wrapper py-4 checklist-table"> 
                            <p-table [paginator]="true" [rows]="10" [value]="formattedFileData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                              <ng-template pTemplate="caption">
                                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
                              </ng-template>
                              <ng-template pTemplate="header">
                                  <tr>                                   
                                      <th *ngFor="let col of headerListFile; let i = index;"  [ngStyle]="i==0 && {'width': '10%'}">
                                          {{col.header}}
                                
                                        </th>
                                   
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                                  <tr>                                    
                                      <td *ngFor="let col of headerListFile">
                                        {{car[col.field]}}
                                      </td>
                                     
                                  </tr>
                              </ng-template>
                          </p-table> 
                  
                          </div>

                        </div>
                      </div>
                  
<!--                     
 
                  </div>
                </div> -->
                </div>
   
               
              </div>
            </div>
          
           
        </div>
      </div> 
  </div>
</div>
</div>
</ng-template>
 
<ng-template #DocketFormPopup let-c="close" let-d="dismiss" let-modal>

  <div class="modal-content">
    <div class="modal-body p-0">

  <div >
  
      <div class="">    
          <div class="card w-70">          
            <div  >
              <div class="position-relative row form-group">
  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-header">
                  <h3 class="mb-0">Docket Details</h3>
                  <p class="text-sm mb-0"></p>
                </div> 
                      <div class="card-body">
                     
                          <div class="dataTables_wrapper py-4 checklist-table"> 
                            <p-table [paginator]="true" [rows]="10" [value]="formattedFileData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                              <ng-template pTemplate="caption">
                                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
                              </ng-template>
                              <ng-template pTemplate="header">
                                  <tr>                                   
                                      <th *ngFor="let col of headerListFile; let i = index;"  [ngStyle]="i==0 && {'width': '10%'}">
                                          {{col.header}}
                                
                                        </th>
                                   
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                                  <tr>                                    
                                      <td *ngFor="let col of headerListFile">
                                        {{car[col.field]}}
                                      </td>
                                     
                                  </tr>
                              </ng-template>
                          </p-table> 
                  
                          </div>

                       
                      </div>
                  
<!--                     
 
                  </div>
                </div> -->
                </div>
   
               
              </div>
            </div>
          
           
        </div>
      </div>
      
   
  </div>
</div>
</div>
</ng-template>

<ng-template #NAChFormPopup let-c="close" let-d="dismiss" let-modal>

  <div class="modal-content">
    <div class="modal-body p-0">

  <div >
  
      <div class="">    
          <div class="card w-70">          
            <div  >
              <div class="position-relative row form-group">
  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-header">
                  <h3 class="mb-0">NACH Details</h3>
                  <p class="text-sm mb-0"></p>
                </div> 
                      <div class="card-body">
                     
                          <div class="dataTables_wrapper py-4 checklist-table"> 
                            <p-table [paginator]="true" [rows]="10" [value]="formattedFileData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                              <ng-template pTemplate="caption">
                                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
                              </ng-template>
                              <ng-template pTemplate="header">
                                  <tr>                                   
                                      <th *ngFor="let col of headerListFile; let i = index;"  [ngStyle]="i==0 && {'width': '10%'}">
                                          {{col.header}}
                                
                                        </th>
                                   
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                                  <tr>                                    
                                      <td *ngFor="let col of headerListFile">
                                        {{car[col.field]}}
                                      </td>
                                     
                                  </tr>
                              </ng-template>
                          </p-table> 
                  
                          </div>

                       
                      </div>
                  
<!--                     
 
                  </div>
                </div> -->
                </div>
   
               
              </div>
            </div>
          
           
        </div>
      </div>
      
   
  </div>
</div>
</div>
</ng-template>



