<!-- <div class="login"> 
    <!-- <img src="assets/img/Login/bg.png"> 
        <div class="row">
            <div class="col-md-6">
                <div class="login_form">
                    <div class="white_bg">
                        <h5>Forget Password</h5>
                        <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()">
                            <div class="row pb-4">
                              <div class="input-group input-group-icon">
                                <input type="email" placeholder="Email" formControlName="username" />
                                <div class="input-icon"><img src="assets/img/Login/email.svg"></div>
                                <!-- <div class="errorMsg-feedback" *ngIf="f.username.touched && f.username.hasError('required')">Enter
                                  User ID</div> 
                              </div>
                            </div>
                            <button (click)="onSubmit()">Send</button>
                            <button class="ml-2" routerLink="/login">Back</button>
                          </form>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="assets/img/Login/logo.png">
    </div>
</div> -->


<div class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 p-0">
          <div class="login_logo text-center">
            <div class="login_img">
            <!-- <img src="assets/img/logo.png">  -->
            <!-- <p>The power of memory</p> -->
          </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="login_form d-flex align-content-around flex-wrap">
            <div class="login_field">
              <div class="login_heading d-flex justify-content-between pr-4 pl-4 pb-2">
                <h5>Reset Password </h5>
                <a href="" routerLink="/login" class="ml-3">Sign in</a>
              </div>
              <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()">
                  <div class="row input_bg">
                    <div class="input-group input-group-icon">
                      <input type="email" placeholder="Email ID" formControlName="username"/>
                      <div class="input-icon"><img src="assets/img/email.svg"></div>
                      <!-- <div class="errorMsg-feedback" *ngIf="f.username.touched && f.username.hasError('required')">Enter
                        User ID</div> -->
                      </div>
                  </div>
                  <button (click)="onSubmit()" class="sign_btn">Send</button>
                  <!-- <button routerLink="/login" class="ml-3">Back</button> -->
                </form>
          </div>
          </div>
          <!-- <div class="about">
            <img src="assets/about.png">
            <div class="row pt-3">
              <div class="col-md-5 pb-3">
                <p>A complete range of services to help you and your business</p>
                <a href="">crownworldwide.com</a>
              </div>
              <div class="col-md-4">
                <ul style="border-left: 2px solid #ddd;">
                  <li><a href="">World Mobility</a></li>
                  <li><a href="">Relocations</a></li>
                  <li><a href="">Records Management</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li><a href="">Fine Art</a></li>
                  <li><a href="">Logistics</a></li>
                  <li><a href="">Workspace</a></li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>